<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form method="POST">
            <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
            <label>
                <input type="text" name="username" placeholder="Введите логин">
            </label>
            <label>
                <input type="password" name="password" placeholder="Введите пароль">
            </label>
            <label>
                <input type="email" name="email" placeholder="Введите email">
            </label>
            <button type="submit">Создать</button>
        </form>
    </div>
    <p>Click <a href="/login">here</a> login</p>
</body>
</html>