<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="POST">
            <label>
                <input type="text" name="name" placeholder="Введите логин">
            </label>
            <label>
                <input type="password" name="password" placeholder="Введите пароль">
            </label>
            <label>
                <input type="email" name="email" placeholder="Введите email">
            </label>
            <button type="submit">Создать</button>
        </form>
    </div>
    {{#uuser}}
    <div>
        ID: {{id}}, Имя: {{username}}, Email: {{email}} ,

        {{#role}}
            <div>
                {{#name}}
                            <div>
                                Status: {{displayName}}
                            </div>
                {{/name}}
            </div>
        {{/role}}

    </div>
    {{/uuser}}
</body>
</html>