/* src/assets/main.css */

/* 1. Сброс стандартных отступов */
body, html {
  margin: 0;
  padding: 0;/* Гарантируем, что браузер покажет минимум полный экран */
}

/* 2. ГЛАВНЫЙ ФИКС: Установка 100% высоты для контейнера Vue */
/* Это позволяет вашему компоненту .hero-section наследовать эту высоту */
#app {
  height: 100%;
  width: 100%;
}
